@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Poly:ital@0;1&display=swap');

:root {
  --nav-dark: #111827;
  --cta-blue: #3B82F6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poly", serif;
  background: var(--nav-dark);
}

#somos-aurora, #disponibilidad {
  scroll-margin-top: 40vh;
}

/*swiper*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
  transform: scale(1.2) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
}

.perspective {
  perspective: 1000px;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}
